@charset "UTF-8";

@import "cores.css";
@import "reset.css";

@font-face{
    font-family: Super_Mario;
    src: url("fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

body{
    font-family: var(--cor0);
    font-family : Super_Mario;
    
}